@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        html {
            scroll-behavior: smooth;
            scroll-snap-stop:center;
            scroll-padding: 84px;
        }
        body {
            background: #202833;
            overflow-x: hidden;
        }

        body::-webkit-scrollbar {
            width: 0.25rem;
        }

        body::-webkit-scrollbar-track {
            background: #1e1e24;
        }

        body::-webkit-scrollbar-thumb {
            background: #557A95;
        }

        p {
            font-size: 18px;
        }
        h2 {
            color: #65FCF2;
            text-align: center;
            padding: 8px 12px;
            border-bottom: 10px solid white;
            font-weight: 600;
            text-shadow: 2px 0px 9px ;
        }

        .brand-logo{
            font-weight: 600;
            text-shadow:1px 1px 5px rgb(0, 102, 255);
        }

        .banner {
            position: relative;
        }

        .banner img {
            max-width: 100%;
        }

        .banner p {
            position: relative;
            color: white;
            font-size: 20px;
            text-shadow: 5px 2px 5px black;
            z-index: 2;
            top: -140px;
            text-align: left;
            width: 90%;
            left: 50px;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))

        }
        .nav-wrapper {
            background: #45A29F;
        }
        .nav-wrapper ul li a{
            font-size: 18px;
        }

        a.center.background {
            background: #45A29F;
        }

        @keyframes transitionIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .container h2,
        .container .banner {
            animation: transitionIn 1s;
        }
        @media screen and (max-width: 700px){
            a#HSR.brand-logo{
                font-size: 25px;
            }  

            .banner p {
                font-size: 18px;
                top: 10px;
                width: 100%;
                left: 0px;
                text-indent: 40px;
            }

            .banner img {
                height: 270px;
            }

            .row h2 {
                margin-top: 10px;
            }

            html {
                scroll-padding: 155px;
            }

            .container h2 {
                margin: 12px;
            }

            .card-image img {
                height: 230px;
            }
            a.center.background.yellow.accent-2.black-text {
                font-size: 18px;
            }
            .sidenav li a {
                font-size: 17px;
            }

        }
        @media screen and (max-width: 1300px) {
            .nav-wrapper ul li a{
                font-size: 14px;
            }
        }

