@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-y: auto;
}

header {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 4px 0;
    display: inline-block;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-bottom: 5px solid rgb(206, 138, 36);
    border-top: 5px solid rgb(206, 138, 36);
}
header h1 {
    color: white;
    text-align: center;
    padding: 1px 12px;
}
.navigation {
    top: 2.2%;
    position: fixed;
    z-index: 2;
}
.navigation a {
    position:relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

.navigation a:hover,
.navigation a.active {
    color: #333;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
}


.navigation a:hover span,
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

.container {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding: 0 24px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: normal;
}

.vertical-menu {
    width: 160px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 40%;
    
}
  
.vertical-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    background: white;
}
  
.vertical-menu a:hover {
    background-color: rgb(206, 138, 36);
    color: #fff;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
}

h1{
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px black;
}

section p{
    color: #fff;
    text-shadow: 1px 1px 8px black;
    font-weight: 1000;
    text-indent: 30px;
    font-size: 22px;
    position: relative;
    width: 700px;
}

.one{
    background-color: rgb(36, 164, 138, 0.1);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Xianzhou.png);
    background-size: 200%;
    background-position: center;
}
.one h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}

.two{
    background-color: rgb(211, 79, 79);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Jade\ Gate.png);
    background-size: 200%;
    background-position: center;
}
.two h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}

.three{
    background-color: rgb(67, 91, 175);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Starskiff\ Jetty.png);
    background-size: 200%;
    background-position: center;
}
.three h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}
.four{
    background-color: rgb(191, 64, 191);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Starwatcher\ Avenue.png);
    background-size: 200%;
    background-position: center;
}
.four h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}

.five{
    background-color: rgb(191, 64, 191);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Palace\ of\ Astrum.png);
    background-size: 200%;
    background-position: center;
}
.five h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}

.six{
    background-color: rgb(191, 64, 191);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/Cloudford.png);
    background-size: 200%;
    background-position: center;
}

.six h1{
    left: 0;
    top: 30%;
    color: white;
    padding: 20px;
    font-size: 50px;
}

footer {
    position: fixed;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:700px){
    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        flex-direction: column;
    }
    section p{
        text-shadow: 2px 2px 3px black;
        font-size: 18px;
        position: relative;
        width: 300px;
    }
    img {
        width: 350px;
        height: 230px;
    }
    .one h1{
        text-align: center;
        padding-top: 20px;
    }

    .three h1{
        text-align: center;
        padding-top: 35px;
    }

    .four h1{
        text-align: center;
        padding-top: 30px;
    }

    .five h1{
        text-align: center;
        padding-top: 30px;
    }
    footer {
        font-size: 12px;
    }
    header h1{
        font-size: 20px;
    }
    .vertical-menu{
        display: none;
    }
    .navigation {
        display: none;
    }
}


